* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: cursive;
    font-size: 18px;
    background: url(img/bg5.jpg) center center/cover;
    height: 100%;
}

.container {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 20px 50px;
}

.button_start {
    width: 400px;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(171, 188, 199);
    color: rgb(46, 46, 54);
    font-size: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgb(93, 96, 138);
    cursor: pointer;
}

.button_start:hover {
    color: rgb(212, 208, 208);
    background-color: rgb(20, 20, 43);
    box-shadow: 0px 0px 5px rgb(212, 208, 208);
}

.playing_space {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 2px solid rgb(49, 45, 45);
    box-shadow: 0px 0px 10px #000;
    border-radius: 20px;
    background-color: rgba(103, 101, 121, 0.7);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 160px;
    height: 200px;
    position: relative;
    transform-origin: 0 50%;
    margin: 5px 10px;
    border-radius: 10px;
    overflow: hidden;
}

.card_item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes flip {
    0% {
        transform:
        perspective(1000px)
        rotateY(0deg);
    }
    100% {
        transform:
        perspective(1000px)
        rotateY(90deg);
    }
}

@keyframes flip_reverse {
    0% {
        transform:
        perspective(1000px)
        rotateY(90deg);
    }
    100% {
        transform:
        perspective(1000px)
        rotateY(0deg);
    }
}

@keyframes flip2 {
    0% {
        transform:
        perspective(1000px)
        rotateY(-90deg);
    }
    100% {
        transform:
        perspective(1000px)
        rotateY(0deg);
    }
}

@keyframes flip2_reverse {
    0% {
        transform:
        perspective(1000px)
        rotateY(0deg);
    }
    100% {
        transform:
        perspective(1000px)
        rotateY(-90deg);
    }
}

.card.flip .card_upper_side{
    animation: flip 0.5s ease-in-out forwards;
}

.card.flip .card_down_side {
    animation: 0.5s flip2 0.5s ease-in-out forwards;
}

.card_upper_side {
    transform:
        perspective(1000px)
        rotateY(-90deg);

    animation: 0.5s flip_reverse 0.5s ease-in-out forwards;
}

.card_down_side {
    
    transform:
        perspective(1000px)
        rotateY(-90deg);

    animation: flip2_reverse 0.5s ease-in-out forwards;
}

.opened {
    opacity: 0.5;
    width: 160px;
    height: 200px;
    position: relative;
    border: 1px solid rgb(12, 12, 32);
    transform-origin: 0 50%;
    margin: 5px 10px;
    border-radius: 10px;
    overflow: hidden;

}

.card.opened .card_down_side {
    animation: 0.5s flip2 0.5s ease-in-out forwards;
}

.congratulations_overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(22, 21, 21, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.congratulations_text {
    width: 50%;
    box-shadow: 0px 0px 30px rgb(143, 142, 170);
    padding: 150px 50px;
    font-size: 40px;
    font-weight: bold;
    background: url(img/balloon.png) no-repeat top right/ contain, rgba(196, 210, 228, 0.5);
    border-radius: 20px;
    color: rgb(24, 24, 39);
    margin-bottom: 20px;
}

.button_play-again {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background: rgb(181, 200, 223);
    font-weight: bold;
    font-size: 25px;
    border: none;
    box-shadow: 0px 0px 10px rgb(36, 36, 44);
    cursor: pointer;
    text-transform: uppercase;
    font-family: cursive;
}

.button_play-again:hover {
    box-shadow: 0px 0px 10px rgb(109, 109, 124);
    background: rgb(156, 164, 197);
}