* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    width: 281px;
    height: 1024px;
    background: #20B887;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.nav-container {
    list-style-type: none;
    color:white;
    padding: 0; 
    display: flex;
    margin-bottom: 30px;
    font-size: 24px;
    padding: 200px 0 0 0;
    flex-direction: column;
}

.nav-container li {
    padding: 15px;
}

.active {
    background: #F9FBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:  #20B887;
    
    margin-right: -30px;
}

.logo-container img {
    width: 80px;
    height: 80px;
}

.logo-container {
    display: flex;
    padding: 10px;
    align-items: center;
}

.level-title {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
    color: white;
}

.btn-round {
    background: #fff;
    width: 54px;
    height: 54px;
    border: 1ps solid rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    font-size: 30px;
    color: gray;
    cursor:pointer;
}

.btn-round:focus {
    outline: none;
}

.app-wrapper {
    display: flex;
    justify-content: space-between;
}

.label-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.53)
}

.main-side-wrapper div:nth-child(2) {
    width: 70%;
}

.score {
    padding: 10px;
    width: 30%;
    font-size: 25px;
    font-weight: 900;
}

.main-side-wrapper {
    padding-top: 30px;
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.btn-round.add {
    background:url(assets/plus.png) no-repeat center center;
    margin-left: 10px;
}

.btn-round.check {
    background:url(assets/checked.png) no-repeat center center;
    margin-left: 10px;
}

.add-word-container div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.add-word-container div input {
    width: 200px;
    padding: 10px;
}
.add-word-container {
    display: flex;
    align-items: center;
}

